<%include ../partials/header%>
<div class="container">
    <div class="row">
        <h1 class="text-center">Create a new comment of <%=camp.name%></h1>
        <div id="form">
            <form action="/grounds/<%=camp._id%>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[author]" placeholder="author">
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="comment">
                </div>
                
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Submit</button>
                </div>
                
                <div class="form-group">
                    <p><a class="btn btn-default btn-lg btn-block" href="/">back </a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<%include ../partials/footer%>
