<% include partials/header %>
<div class="contianer-fluid">
    <h1 class="text-center">Welcome to yelp camp!</h1>
    <p class="text-center"><a href="/grounds">View campgrounds</a></p>
    <p class="text-center"><a href="/grounds/new">Add new campgrounds</a></p>
</div>
<% include partials/footer %>